[submodule "Bachelor"]
	path = Bachelor
	url = https://github.com/FMI-Materials/FMI-Bachelor-Materials
[submodule "Master/Natural Language Processing"]
	path = Master/Natural Language Processing
	url = https://github.com/FMI-Materials/FMI-Master-NLP-Materials
[submodule "Master/Inginerie Software"]
	path = Master/Inginerie Software
	url = https://github.com/FMI-Materials/FMI-Master-IS-Materials
[submodule "Master/Baze De Date Si Tehnologii Software"]
	path = Master/Baze De Date Si Tehnologii Software
	url = https://github.com/FMI-Materials/FMI-Master-BDTS-Materials
[submodule "Master/Security And Applied Logic"]
	path = Master/Security And Applied Logic
	url = https://github.com/FMI-Materials/FMI-Master-SAL-Materials
[submodule "Master/Artificial Intelligence"]
	path = Master/Artificial Intelligence
	url = https://FMI-Materials@github.com/FMI-Materials/FMI-Master-AI-Materials
[submodule "Master/Data Science"]
	path = Master/Data Science
	url = https://FMI-Materials@github.com/FMI-Materials/FMI-Master-DS-Materials
[submodule "Master/Sisteme Distribuite"]
	path = Master/Sisteme Distribuite
	url = https://FMI-Materials@github.com/FMI-Materials/FMI-Master-SD-Materials
